<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/guarderiacentral</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>

        <mapping class="com.administraciongarage.tpfinal.entity.Vehiculo"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.Garage"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.Zona"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.Empleado"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.Guarderia"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.PropiedadGarage"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.Socio"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.Administrador"></mapping>
        <mapping class="com.administraciongarage.tpfinal.entity.ZonaAsignada"></mapping>
    </session-factory>
</hibernate-configuration>
