<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Empleado</title>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body background="/Slider-empleado-3.jpeg">
<div class="container">
    <div class="page-header" id="banner">

        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-7">
                <h1>Crear Empleado</h1>
                <br>
                <form th:action="@{/empleado/crear}" method="post" enctype="multipart/form-data"
                      class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Codigo</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="codigo" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nombre Completo</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="nombre" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Direccion</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="direccion" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Telefono</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="telefono" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">DNI</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="dni" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Usuario</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="user" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Contraseña</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="pwd" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Especialidad</label>
                            <div class="col-md-9">
                                <label class="custom-control-label" for="sm_manana">Cuidador Matutino</label>
                                <input class="custom-control-input" type="radio" name="especialidad" value="Cuidador Matutino"
                                       id="sm_manana" checked>
                                <label class="custom-control-label" for="sm_tarde">Cuidador Tarde</label>
                                <input class="custom-control-input" type="radio" name="especialidad" value="Cuidador Tarde"
                                       id="sm_tarde">
                                <label class="custom-control-label" for="sm_noche">Cuidador Noche</label>
                                <input class="custom-control-input" type="radio" name="especialidad" value="Cuidador Noche"
                                       id="sm_noche">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary" name="button">Crear</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div >
                                <form>
                                    <a class="btn btn-primary" name="button" th:href="@{/empleados}">Volver</a>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>